# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# VS Code
.vscode/

# Logs
logs/
*.log

# Data files
data/input/*
data/output/*
!data/input/.gitkeep
!data/output/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
